/* Over the rainbow font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

:root {
	--primary-color: #4b0082;
	/* Indigo */
	--secondary-color: #f5f5f5;
	/* Light Gray */
	--accent-color: #ffa07a;
	/* Light Salmon */
	--accent-color2: #556b2f;
	/* Dark Olive Green */
}

body {
	padding: 0px;
	margin: 0;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #FFF;
	background-image: url('/bg.webp');
	background-repeat: repeat;
	background-size: cover;
	position: relative;
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.95);
	/* White overlay with 70% opacity */
	z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
	font-family: 'Dancing Script', cursive;
	color: var(--primary-color);
}

h1 {
	font-size: 2em;
}
nav a {
	font-family: 'Dancing Script', cursive;
}
a {
	color: inherit;
}

a:hover {
	color: var(--accent-color);
}

.content a,
.text-column a {
	color: var(--accent-color);
	text-decoration: underline;
}

.content a:hover,
.text-column a:hover {
	color: var(--primary-color);
}

body {
	/* Apply bottom padding to accommodate the iOS home indicator */
}

.whatsapp-icon {
	font-size: 1.3em;
	/* Adjust the size as needed */
	color: #333;
	padding-right: 10px;
}

.map-icon {
	margin-left: 10px;
}

.icon {
	width: 16px;
	/* Adjust based on your preference */
	height: 16px;
	/* Ensure this matches the width for square aspect ratio */
}